In [124]:
import pandas as pd
import numpy as np

In [125]:
country = 'Poland'
age_data_path = 'Data/age_data.xls'

columns_names = {'Reference date (as of 1 July)':'year','Total population by five-year age groups (thousands)': '0 - 4', 'Unnamed: 7': '5 - 9', 'Unnamed: 8': '10 - 14', 'Unnamed: 9': '15 - 19', 'Unnamed: 10': '20 - 24', 'Unnamed: 11': '25 - 29', 'Unnamed: 12': '30 - 34', 'Unnamed: 13': '35 - 39', 'Unnamed: 14': '40 - 44', 'Unnamed: 15': '45 - 49', 'Unnamed: 16': '50 - 54', 'Unnamed: 17': '55 - 59', 'Unnamed: 18': '60 - 64', 'Unnamed: 19': '65 - 69', 'Unnamed: 20': '70 - 74', 'Unnamed: 21': '75 - 79', 'Unnamed: 22': '80 - 84', 'Unnamed: 23': '85 - 89', 'Unnamed: 24': '90 - 94', 'Unnamed: 25': '95 - 99', 'Unnamed: 26': '100+'}
skipped_columns = {'index', 'Index', 'Variant','Major area, region, country or area*', 'Notes', 'Country code'}


data_both = pd.read_excel(age_data_path, sheet_name='both; 1950-2005, estimates', skiprows = range(0, 5))
data_both = data_both[data_both['Major area, region, country or area*'] == country]
data_both = data_both.rename(columns=columns_names)
data_both = data_both.reset_index().drop(columns = skipped_columns, axis = 1)

#data_both = data_both.style.format({
#    'year': "{:,.0f}"
#    })
data_both

,year,0 - 4,5 - 9,10 - 14,15 - 19,20 - 24,25 - 29,30 - 34,35 - 39,40 - 44,...,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85 - 89,90 - 94,95 - 99,100+
0,1950.0,2950,2022,2323,2412,2369,2108,1355,1766,1793,...,900,747,531,354,230,183.005,-,-,-,-
1,1955.0,3525,2923,2000,2297,2393,2322,2079,1334,1724,...,1149,807,645,426,245,188.001,-,-,-,-
2,1960.0,3511.07,3499.04,2907.51,1954.05,2225.75,2337.04,2312.97,2023.23,1313.39,...,1411.65,1064.75,713.844,491.269,288.746,216.555,-,-,-,-
3,1965.0,2830.41,3448.4,3482.35,2887.31,1934.86,2212.41,2324.23,2303.26,2001.75,...,1626.36,1313.87,940.473,584.052,366.405,250.593,-,-,-,-
4,1970.0,2548.8,2803.98,3455.34,3465.58,2845.15,1918.12,2181.94,2290,2243,...,1545.25,1485.19,1141.7,768.918,479.366,301.715,-,-,-,-
5,1975.0,2865.86,2533.64,2774.47,3421.77,3422.91,2798.84,1888.58,2142.8,2241.4,...,1179.64,1437.93,1313.85,957.516,571.439,401.201,-,-,-,-
6,1980.0,3241.64,2864.7,2522.13,2772.79,3339.69,3350.11,2768.47,1855.35,2102.09,...,1783.33,1096.54,1212.22,1113.83,732.324,541.351,-,-,-,-
7,1985.0,3422.8,3223.82,2852.21,2509.06,2750.26,3305,3310.22,2731.21,1819.73,...,1990.89,1647.19,975.952,1074.22,810.209,641.892,-,-,-,-
8,1990.0,2953.22,3389.23,3230.87,2848.11,2467.42,2677.65,3267.47,3244.42,2671.25,...,1972.13,1830.59,1461.56,811.713,793.273,765.341,-,-,-,-
9,1995.0,2484.95,2937.41,3377.97,3215.81,2826.2,2446.81,2652.3,3226.72,3185.66,...,1851.77,1812.87,1620.22,1220.77,614.518,505.866,240.745,65.331,9.058,0.586
10,2000.0,2020.28,2476.7,2928.88,3365.7,3198.04,2807.96,2427.91,2624.34,3175.34,...,1609.41,1714.46,1617.6,1367.27,940.185,403.171,258.637,84.228,12.909,0.873
11,2005.0,1811.38,2013.46,2469.38,2918.39,3348.99,3179.77,2789.47,2406.29,2589.66,...,2393.81,1502.27,1547.53,1384.28,1074.74,640.062,217.598,98.505,18.947,1.436